.equipe {
     display:flex;
    /* flex-direction:row-reverse;
    justify-content:space-between; */
    /* justify-content:space-around; */
    /* justify-content:space-evenly; */
    gap:40px;
    list-style:none;
    align-items:center;
    margin:0;
    padding:0;
}

