body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-weight:bold;
    font-size: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
main {
    margin:30px;
}

section{
    border: 30px solid #4CAF50;
    border-width: 30px;
    border-color:#333;
    padding: 20px;
}

.servicos {
    margin : 20px ;
    padding: 20px;
    background-color: #333;
    border: 10px solid #4CAF50;
}